@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@theme {
    --color-primary:#fff;
    --color-secondary: #000;
    --color-secondarylite: #9b9797;
    --color-complement:#386641;
    --color-element:#00a63e;
    --color-secondarybg :#fbf9fa;
    --font-Manrope: "Manrope", sans-serif;

 }

button{
    cursor: pointer;
}